<h1 style="text-align: center;font-size: 20px;font-weight: 600;color: blueviolet;padding-top: 65px;"> {{table.name}}</h1>

<div class="table-container" >
  <div *ngFor="let table of tables" class="table-wrapper">
    <div class="table" [ngClass]="table.type">
      <h3>{{ table.type }} Table</h3>
    </div>
    <div class="seats">
      <span *ngFor="let seat of [].constructor(table.seats); let i = index" class="seat">
        Seat {{ i + 1 }}
      </span>
    </div>
  </div>
</div>